<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title><%= botao %> Usuário</title>
</head>
<body>
  <h1><%= botao %> Usuário</h1>
  <form action="<%= acao %>" method="POST">
    <label>Nome:</label><br />
    <input type="text" name="nome" value="<%= usuario.nome || '' %>" required /><br /><br />

    <label>Email:</label><br />
    <input type="email" name="email" value="<%= usuario.email || '' %>" required /><br /><br />

    <label>Senha:</label><br />
    <input type="password" name="senha" value="<%= usuario.senha || '' %>" required /><br /><br />

    <button type="submit"><%= botao %></button>
  </form>
  <br />
  <a href="/">Voltar</a>
</body>
</html>